
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MissionFAQ</title>
</head>
<body>
    <div>
        <p>test @ViewBag.MissionName</p>
    </div>
</body>
</html>
