@* html for about. *@

@{
    ViewBag.Title = "About";
    <link href="~/Content/Styles.css" rel="stylesheet" />
}
<br /> <br />
<a href="@Url.Action("Index", "Home")">Home >></a> About
<p id="corn"><h2>LDS Mission Masters</h2></p>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 textcenter" id="aboutpar">
            <p>
                We are a Utah based company wanting to help elevate the experience for all future missionaries!
                Every original member of the company loved their experience on their missions and want to
                help others subside any worries or questions they might have about serving. Thanks for visiting out site today
                and feel free to shoot us a message with any questions!
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@* info about our team *@
<h2>Our Team</h2>
<hr style="height:30px">
<div class="container">
    <div class="row textcenter">
        <div class="col-md-3">
            <img class="homepic Aboutpic" src="~/Content/Pictures/Cobie Tyer.jpg" />
            <h4 class="Arial textcenter">Cobie Tyer</h4>
            <h5 class="Arial">CEO</h5>
        </div>
        <div class="col-md-3">
            <img class="homepic Aboutpic" src="~/Content/Pictures/KVII-E Vence.jpg" />
            <h4 class="Arial textcenter">KVIII-e Vence</h4>
            <h5 class="Arial">Marketing</h5>
        </div>
        <div class="col-md-3">
            <img class="homepic Aboutpic" src="~/Content/Pictures/Stefon Todderidge.jpg" />
            <h4 class="Arial textcenter">Stefon Todderidge</h4>
            <h5 class="Arial">CFO</h5>
        </div>
        <div class="col-md-3">
            <img class="homepic Aboutpic" src="~/Content/Pictures/Laurie Furber.jpg" />
            <h4 class="Arial textcenter">Laurie Furber</h4>
            <h5 class="Arial">CIO</h5>
        </div>
    </div>
</div>