@{
    ViewBag.Title = "About";
}
<h2>LDS Mission Masters</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p>
    We are a Utah based company wanting to help elevate the experience for all future missionaries!
    Every original member of the company loved their experience on their missions and want to
    help others subside any worries or questions they might have about serving. Thanks for visiting out site today
    and feel free to shoot us a message with any questions!
</p></div>
        <div class="col-md-4"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3"><img class="homepic Aboutpic" src="~/Content/Pictures/Cobie Tyer.jpg" />
        <h4 class="Arial">Cobie Tyer</h4></div>
        <div class="col-md-3"><img class="homepic Aboutpic" src="~/Content/Pictures/KVII-E Vence.jpg"/>
            <h4 class="Arial">KVII-e Vence</h4>
        </div>
        <div class="col-md-3"><img class="homepic Aboutpic" src="~/Content/Pictures/Stefon Todderidge.jpg"/>
            <h4 class="Arial">Stefon Todderidge</h4></div>
        <div class="col-md-3"><img class="homepic Aboutpic" src="~/Content/Pictures/Laurie Furber.jpg"/>
            <h4 class="Arial">Laurie Furber</h4></div>
    </div>
</div>
