@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/Styles.css" rel="stylesheet" />
}

<div class="jumbotron" id="JumboPic">
    <h1 class="black" id="headtext">Questions about LDS Missions?</h1>
    <p class="lead black" id="labeltext">Find out about specific LDS missions now!</p>
    <p><a href="@Url.Action("Mission", "Mission")" class="btn btn-primary">
    Find a Mission</a>
        </p>
</div>




<div class="row">
    <div class="col-md-12">
        
            <img src="~/Content/Pictures/quote.jpg" />
                   <p>VIDEO</p>
            <p><div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            LDS Websites <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.mormon.org/">Mormon.org</a></li>
            <li><a href="https://www.lds.org/?lang=eng">Lds.org</a></li>
            <li><a href="https://www.mormonchannel.org/">Mormonchannel.org</a></li>
           
        </ul>
    </div>
</div></p>
     

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Sister Missionaries</h2>
        <p> <img class="homepic" src="~/Content/Pictures/sisters.jpeg"/>
        </p>
        <p><a class="btn btn-default text-center" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
    <div class="col-md-6">
        <h2 class="text-center">Elders</h2>
        <p><img class="homepic" src="~/Content/Pictures/elders.jpeg" /></p>
        <p><a class="btn btn-default text-center" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>